.table {
    border-collapse: collapse;
}

.tr {
    border-top: 1px solid var(--color-grey-100);
}
@media (width < 768px) {
    /* Hide table headers on mobile */
    .thead {
        display: none;
    }
    /* When thead is hidden, don't show border-top on first row */
    .tr:first-child {
        border-top: none;
    }
}

.th, .td {
    padding: 16px 0;
}
.th:first-child, .td:first-child {
    padding-left: 16px;
}
.th:last-child, .td:last-child {
    padding-right: 16px;
}

.th {
    text-align: left;
    color: var(--color-grey-500);
}

.th:last-child {
    text-align: right;
}

.td {
    color: var(--color-grey-500);
}

.td:last-child {
    text-align: right;
}
