.container {
    position: relative;
    width: min-content;
}
.pie-chart {
    width: 240px;    
    height: 240px;
}
.center-text {
    position: absolute;
    inset: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100%;
}
.center-text-maximum {
    color: var(--color-grey-500)
}