.card {
    background-color: white;
    padding: 32px;
    display: flex;
    flex-direction: column;
    gap: 24px;
    border-radius: 12px;
    margin-top: 32px;
}

@media (width < 768px) {
    .card {
        padding: 24px 20px;
    }
}

.cell-recipient {
    color: var(--color-grey-900);
    display: flex;
    align-items: center;
    gap: 16px;
}
.cell-recipient-avatar {
    border-radius: 50%;
}
.cell-amount-pos {
    color: var(--color-green);
}
.cell-amount-neg {
    color: var(--color-grey-900);
}