.button {
    padding: 16px;
    border: none;
    border-radius: 8px;
    cursor: pointer;
}

.primary {
    background-color: var(--color-grey-900);
    color: white;
}
.primary:hover {
    background-color: var(--color-grey-500);
}

.secondary {
    background-color: var(--color-beige-100);
    color: var(--color-grey-900);
}
.secondary:hover {
    background-color: white;
    border: 1px solid var(--color-beige-500);
    padding: 15px;
}
.tertiary {
    background-color: white;
    color: var(--color-grey-500);
    border: 1px solid var(--color-beige-500);
    padding: 0 16px;
    min-width: 40px;
    min-height: 40px;
}
.tertiary:hover {
    color: var(--color-grey-900);
}
.danger {
    background-color: var(--color-red);
    color: white;
}
.danger:hover {
    opacity: 80%;
}