.navigation {
    background-color: var(--color-grey-900);
    color: var(--color-grey-300);

    display: flex;
}

.logo {
    box-sizing: content-box;
    padding: 40px 0 64px 32px;
}

@media (width >=1024px) {
    .navigation {
        border-radius: 0 16px 16px 0;
        flex-direction: column;
        width: 300px;
        row-gap: 4px;
    }
    .navigation.minimized {
        width: 110px;
    }
}

@media (width < 1024px) {
    .navigation {
        border-radius: 16px 16px 0 0;
    }
    .logo {
        display: none;
    }
    .minimize-btn {
        display: none;
    }
}

@media (768px <=width < 1024px) {
    .navigation {
        padding: 8px 40px 0;
        justify-content: space-around;
    }
}

@media (width < 768px) {
    .navigation {
        padding: 8px 16px 0;
        justify-content: space-around;
    }
}