body {
    display: flex;
    height: 100dvh;
    width: 100vw;
}

main {
    overflow-y: auto;
    flex-grow: 1;
    padding: 32px 40px;
}



@media (width >=1024px) {
    body {
        flex-direction: row;
    }
}

@media (width < 1024px) {
    body {
        flex-direction: column-reverse;
    }
}

@media (width < 768px) {
    main {
        padding: 24px 16px;
    }
}