.card {
    background-color: white;
    color: var(--color-grey-900);
    padding: 20px;
    border-radius: 12px;
    min-width: max-content;
}

.title {
    margin-bottom: 20px;
}

.list {
    display: grid;
    row-gap: 16px;
    column-gap: 24px;
}


.list-data {
    justify-self: end;
}

.list-due {
    color: var(--color-red)
}

.divider {
    border: none;
    border-top: 1px solid #696868;
    opacity: 15%;
    grid-column: span 2;
}